.project-image {
  width: 280px;
  height: 520px;
  object-fit: cover;
}

.project-backdrop {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 65%;
  width: 100%;
}

.project-info {
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 100%;

  transform: translateZ(15px);
}

.project-title {
  color: white;
  font-size: 2em;
  line-height: 1em;
  font-weight: 800;
  text-align: center;
  margin: 0;
}

.project-description {
  color: white;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  margin: 0;
}
