.title {
  font-weight: 700;
  font-size: 4em;
  line-height: 1em;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 0.01em white;

  text-align: center;
  margin: 0px;
}

.subtitle {
  font-weight: 700;
  font-size: 1.5em;
  color: white;

  text-align: center;
  margin: 0px;
}
