html {
  background-color: #161616;
  background-image: url(static/stripes.svg);
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: 200% 200%;
  background-position: 75% 75%;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
